* {
  font-family: Tahoma;
}

body {
  background-color: tan;
}

h1 {
  color: brown;
}

p {
  color: blue;
}

nav {
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  background-color: #f3f3f3;
  list-style-type: none;
  align-items: center;
  padding: 0rem 3rem;
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav h1 {
  
}

nav li {
  float: left;
  display: inline;
  padding: 8;
}

nav li a {
  display: block;
  color: brown;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

nav li a:hover {
  background-color: tan;
}
