* {
  font-family: Tahoma;
  background-color: #e5e5fb;
  color: black;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

ul {
  list-style-type: none;
}

h1 {
  color: black;
}

p {
  color: black;
}

a {
  text-decoration: none;
}

nav {
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: #fdfdfd;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  
  position: -webkit-sticky;
  position: sticky;
}

nav ul {
  display: flex;

nav a {
  color: #fdfdfd;
}

nav a {
  color: #fdfdfd;
}

nav a:hover {
  background-color: #dcd5fb;
}
