body {
  background-color: tan;
}

h1 {
  color: brown;
}

p {
  color: red;
}

nav {
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  background-color: #f3f3f3;
  list-style-type: none;
  align-items: center;
  padding: 1rem 3rem;
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav h1 {
  
}

nav li {
  float: left;
  display: inline;
}

nav li a {
  display: block;
  color: brown;
  text-align: center;
  text-decoration: none;
}

nav li a:hover {
  background-color: tan;
}
