* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  color: black;
  background-color: #dce4f2
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 50rem;
  margin: auto;
}

.hero img {
  object-fit: cover;
  height: 25rem;
  width: 17.5rem;
}

.bio {
  width: 40rem;
  padding: 0.5rem;
  box-shadow: 5px 10px
}

ul {
  list-style-type: none;
}


a {
  text-decoration: none;
}

nav {
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: #bac1cf;
  justify-content: space-between;
  padding: 14px 16px;
  
  position: -webkit-sticky;
  position: sticky;
}

nav ul {
  display: flex;
  /*gap: 1.9rem; */
  border: 2px solid #505461;
}

nav h1 {
  background-color: #bac1cf;
  text-align: center;
  padding: 14px 16px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.aboutme) {
  background-color: #bac1cf;
}
  
.about {
  padding: 4rem;
}
  
.about h1 {
  text-align: center;
}
