* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  color: black;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 30rem;
  margin: auto;
}

.hero img {
  object-fit: cover;
  height: 25rem;
  width: 12.5rem;
}

.bio {
  width: 40rem;
  padding: 0.5rem;
}

ul {
  list-style-type: none;
}


a {
  text-decoration: none;
}

nav {
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: #fdfdfd;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  
  position: -webkit-sticky;
  position: sticky;
}

nav ul {
  display: flex;
  background-color: #fdfdfd;
  color: red;
  gap: 1.9rem;

nav ul li:hover {
  background-color: #dcd5fb;
}
