* {
  font-family: Tahoma;
  background-color: #e5e5fb;
  color: black;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  
}

h1 {
  color: black;
}

p {
  color: black;
}

nav {
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  background-color: #dddddd;
  list-style-type: none;
  align-items: center;
  padding: 0rem 3rem;
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav h1 {
  
}

nav li {
  float: left;
  display: inline;
  padding: 8;
}

nav li a {
  display: block;
  color: #e5e5fb;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

nav li a:hover {
  background-color: #dcd5fb;
}
